@{
    ViewData["Title"] = "ImageAi";
}

<script type="text/javascript">

    function Download(b64, id) {
        // Crie um elemento "a" para o link de download
        var link = document.createElement("a");
        // Converta a string Base64 em um array de bytes
        var bytes = atob(b64);
        // Crie um array de bytes vazio para a imagem
        var imageBytes = new Array(bytes.length);

        // Copie os bytes da string para o array de bytes
        for (var i = 0; i < bytes.length; i++) {
            imageBytes[i] = bytes.charCodeAt(i);
        }

        // Crie um blob com os bytes da imagem
        var blob = new Blob([new Uint8Array(imageBytes)], { type: "image/jpeg" });
        // Defina o nome do arquivo a ser baixado
        link.download = "imagem_" + id + ".jpg";
        // Defina a URL do arquivo (criada a partir do blob)
        link.href = URL.createObjectURL(blob);
        // Clique no link para iniciar o download
        link.click();
    }

</script>

<form asp-action="GerarImagem" asp-controller="ImageAi" method="post">
    <input type="text" name="inputPrompt" id="inputPrompt" />
    <button type="submit" class="btn btn-primary">Gerar Imagem</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.ImagesId))
{
    <br />
    @model List<AI_HUB.Models.ImageAi.Image>

    @foreach (var imagem in Model)
    {
        <img src="data:image;base64,@(imagem.b64_json)" alt="Imagem" />

        <a href="#" onclick="Download('@(imagem.b64_json)', '@(imagem.created)')">
            <img src="~/icons/cloud-arrow-down.svg" alt="Download" title="Download" />
        </a>
    }
}