@{
    ViewData["Title"] = "ImageAi";
}

<style type="text/css">

    .imagem {
        border: 1px solid #ccc;
        transition: all 0.2s ease-in-out;
    }

        .imagem:hover {
            border-color: #f98;
            transform: scale(1.1); /* Aumenta com hover*/
        }

    .lista-imagens {
        list-style: none; /* Remove os marcadores da lista */
        display: flex; /* Transforma a lista em um container flexível */
        flex-wrap: wrap; /* Define que as imagens podem quebrar em outra linha se necessário */
        justify-content: space-between; /* Adiciona espaço entre as imagens */
    }

        .lista-imagens li {
            margin-bottom: 20px; /* Adiciona uma margem inferior de 20 pixels para cada item da lista */
        }

        .lista-imagens img {
            width: 100%; /* Faz as imagens ocuparem todo o espaço disponível na largura do container */
            height: auto; /* Mantém a proporção da imagem */
            object-fit: cover; /* Redimensiona a imagem para cobrir todo o espaço disponível sem distorcer */
        }

</style>

<form asp-action="GerarImagem" asp-controller="ImageAi" method="post">
    <input type="text" name="inputPrompt" id="inputPrompt" />
    <button type="submit" class="btn btn-primary">Gerar Imagem</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.ImagesId))
{
    <br />
    <ul class="lista-imagens">
        @model List<AI_HUB.Models.ImageAi.Image>
        @foreach (var imagem in Model)
        {
            <li>
                <a href="@Url.Action("Variation", "ImageAi", new { url = (imagem.url)} )">
                    <img src="@(imagem.url)" alt="Imagem" class="imagem" />
                </a>
            </li>
        }
    </ul>
}