@{
    ViewData["Title"] = "Variation";
}
<style type="text/css">


</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        debugger;
        $('#btnSubmit').click(function () {
            $('#form').submit();
        });
    });

    //$(document).ready(function () {
    //    var encodedUrl = encodeURIComponent($('#primary').prop('src'));
    //    $('#btnSubmit').click(function () {
    //        $('#form').submit();
    //    });
    //});
    /*
    $.ajax({
        url: 'Url.Action("GerarVariacao", "ImageAi")',
        type: 'POST',
        dataType: 'json',
        data: { url: encodedUrl },
        /*success: function (result) {
            document.getElementById("loading-spinner").style.display = "none";
        },
        error: function () {
            //alert("Falha na geração de variações");
            document.getElementById("loading-spinner").style.display = "none";
            // Trate o erro, se houver
        }
    });

    })*/

</script>

<img src="@ViewBag.Imagem" alt="Imagem" id="primary" />

@model List<AI_HUB.Models.ImageAi.Image>
@if (Model.Count == 0)
{
    <div id="loading-spinner" style="display:inline-block;">
        <img src="~/icons/spinner_loader.gif" alt="variation" class="variation" />
    </div>

    <form asp-action="GerarVariacao" asp-controller="ImageAi" method="post" id="form" style="display:block">
        <input type="text" name="url" id="url" value="@ViewBag.Imagem" />
        <button type="submit" id="btnSubmit" class="btn btn-primary">Gerar Variacao</button>
    </form>
}
else
{
    <div id="idlstVariacao" style="display:inline-block;">
        <ul class="lista-imagens">
            @foreach (var variation in Model)
            {
                <li>
                    <a href="@Url.Action("Download", "ImageAi", new { url = variation.url })">
                        <img src="@(variation.url)" alt="Variacao" class="variation" />
                    </a>
                </li>
            }
        </ul>
    </div>
}